body {
    font-family: 'Fredoka One', cursive !important;
    background-color: lightyellow !important;
    height: 100% !important;
}

h1 {
    font-size: 100px !important;
    color: red !important;
}

h2 {
    color: green !important;
}
h3 {
    font-size: 20px !important;
    color: blue !important;
}